# Example configuration:
# aws_region              = "us-north-1"
# state_bucket_name       = "my-company-terraform-state"  # Change this to be unique!
# lock_table_name         = "tft-state-lock"
# state_file_retention_days = 90
# log_retention_days      = 90
